 {% extends "base.html" %}
 {% load static %}
{%block content%}
 <div class="m-auto text-center pt-3">
  <a href="{% url 'updateview' %}" class="btn mb-2 btn-success"> Your Personal Informations</a>
  
  <a href="{% url 'password_change' %}" class="btn  mb-2 btn-warning">Change Your Password</a>
</div>
<div class=" text-center mt-4">
    <div class="row ">
        <div class='col-md-10'>
            <div class="container  text-center">
                <div class="row  justify-content-between">
                    {% for dt in data %}
                  <div class="col-md-3 m-3">
                   <div class="">
                    
                        <div class="card mx-3  text-dark">
                          <img src="{{dt.image.url}}" class="card-img-top" alt="car-image">
                          <div class="card-body  ">
                              <h5 class="card-title">Tutor Name: {{dt.name}}</h5>
                              <p class="card-text">Education : {{dt.education|truncatewords:10}}</p>
                              <small>Teaching Experience : {{dt.teaching_experience}}</small>
                              <small>Fees : {{dt.fee}}</small>
                              <br>
                              <br>
                              <a href="{% url 'review' dt.id %}" class="btn btn-sm mb-2 btn-primary">Review</a>
                          </div>
                        </div>
                     
                   </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

        </div>  
    </div>
</div>
<footer class="p-5 mt-5 bg-primary text-light">
  <div class="container w-75 m-auto row p-5 ">
    <hr>
      <div class="col-md-6">
          <h5>Follow US</h5>
          <div class="icons">
            <img class="icon" width="30px" src="{% static 'facebook.png'%}" alt="" />
            <img class="icon" width="30px" src="{% static 'linkedin.png'%}" alt="" />
            <img class="icon" width="30px" src="{% static 'twitter.png'%}" alt="" />
            <img class="icon" width="30px" src="{% static 'instagram.png'%}" alt="" />
          </div>
      </div>
      <div class="col-md-3">
          <h5>Types</h5>
          <li class="footer-li">Online Tution</li>
          <li class="footer-li">Home Tution</li>
          <li class="footer-li">Group Tution</li>
          <li class="footer-li">Offline Tution</li>
      </div>
      <div class="col-md-3">
          <h5>Support</h5>
          <li class="footer-li">Get Started</li>
          <li class="footer-li">Help Center</li>
          <li class="footer-li">Service Stutes</li>
          <li class="footer-li">Blog</li>
      </div>
  </div>
  <hr />
  <p class="text-center mt-3">
      <small>Designer : Ismail Hossan</small>
  </p>
</footer>
{% endblock content %}  
