{% extends "base.html" %}

{% block content %}
{% load static %}

{% load crispy_forms_tags %}

 <div class="container text-center mb-5">
    <div class="row g-2 justify-content-between  mt-5">
      <div class="col-5 border">
        <div class="p-2">
            <img style="" src="{{ tution.image.url }}" class="card-img-top" alt="car-image">
        </div>
      </div>
      <div class="col-5 border">
        <div class="p-2">
            <h3 class="card-title p-2">Name: {{ tution.name}}</h3>
            <h3 class="card-title h5 p-2">Education: {{ tution.education}}</h3>
            <h5 class="card-title p-2">Teaching Experience: {{ tution.teaching_experience}}</h5>
            <h5 class="card-title p-2">Fees: {{ tution.fee}}TK</h5>
            <h5 class="card-title p-2">Email: {{ tution.user.email}}</h5>
            <h6 class="card-title p-2">Number: {{ tution.number}}</h6>
            <small> <b> Teaching Subject : {{tution.subject}} </b></small>
            <br>
            <h5>Teching Class: 
              {% for category in tution.class_category.all %}
              <a class='btn h6 '>{{category.name}},</a>
              {% endfor %}
            </h5>
        </br>
            {% if request.user.is_authenticated %}
                <a href="{% url 'applyfortution' tution.id %}" class="btn btn-sm mx-2 btn-warning">Apply For Tution</a>
            {% endif %}
        </div>
      </div>
      
    </div>
  </div> 


<div  class="card  p-2">
  <div style="width:80%; margin:auto;" class="card  p-2">
      <h4>Total Reviews: {{ review|length }}</h4>
      <div class="card-body">
        {% for rev in review %}
          <h5>Name : {{rev.name}}   </h5>
          <p><b>Email</b>: {{rev.email}}</p>
          <p>Review: {{rev.body}}</p>
          <h5>Review: {{rev.rating}}</h5>
          <small> {{rev.created_time}}</small>
          <hr>
        {% endfor %}
        
      </div>
  </div>

  <footer class="p-5 mt-5 bg-primary text-light">
    <div class="container w-75 m-auto row p-5 ">
      <hr>
        <div class="col-md-6">
            <h5>Follow US</h5>
            <div class="icons">
              <img class="icon" width="30px" src="{% static 'facebook.png'%}" alt="" />
              <img class="icon" width="30px" src="{% static 'linkedin.png'%}" alt="" />
              <img class="icon" width="30px" src="{% static 'twitter.png'%}" alt="" />
              <img class="icon" width="30px" src="{% static 'instagram.png'%}" alt="" />
            </div>
        </div>
        <div class="col-md-3">
            <h5>Types</h5>
            <li class="footer-li">Online Tution</li>
            <li class="footer-li">Home Tution</li>
            <li class="footer-li">Group Tution</li>
            <li class="footer-li">Offline Tution</li>
        </div>
        <div class="col-md-3">
            <h5>Support</h5>
            <li class="footer-li">Get Started</li>
            <li class="footer-li">Help Center</li>
            <li class="footer-li">Service Stutes</li>
            <li class="footer-li">Blog</li>
        </div>
    </div>
    <hr />
    <p class="text-center mt-3">
        <small>Designer : Ismail Hossan</small>
    </p>
  </footer>
{% endblock content %}